{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h2 class="heading-title m-b-35">{{ director.name }} </h2>
        <div>
            <img src="https://scontent.fmaa1-2.fna.fbcdn.net/v/t1.0-9/18582124_1510113022373522_4377511334014934473_n.jpg?_nc_cat=108&_nc_sid=85a577&_nc_ohc=zH_YMR9dt_kAX8mAZQD&_nc_ht=scontent.fmaa1-2.fna&oh=4af5cd06b68120d0c0a4753027b5357a&oe=5E94B6C9" height="300" width="300">
        </div>
        <div>
            <p class="director-note">
                {{ director.name }}
             </p>
        </div>

        <h3 class="title-5 m-b-45">Movies</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                {% if movies %}
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Release Date</th>
                    <th>Average Rating</th>
                    <th>Collections(in Crores.)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for movie in movies %}
                <tr class="tr-shadow">
                    <td class="desc">
                        <a href="/imdb/movie/{{ movie.movie_id }}/">{{ movie.name }}</a>
                    </td>
                    <td>{{ movie.release_date }}</td>
                    <td>
                        <span class="status--high">{{ movie.avg_rating }}</span>
                    </td>
                    <td>{{ movie.collections }}₹</td>
                </tr>
                <tr class="spacer"></tr>
                {% endfor %}
            </tbody>
            {% else %}
            <tbody>
            <tr class="tr-shadow">No actors available</tr>
            </tbody>
            {% endif %}
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

{% endblock %}