{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">data table</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                {% if movies_list %}
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Director</th>
                    <th>Release Date</th>
                    <th>Average Rating</th>
                    <th>Collections(in Crores.)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                	{% for movie in movies_list %}
                <tr class="tr-shadow">
                    <td class="desc">
                        <a href="/imdb/movie/{{ movie.movie_id }}/">{{ movie.name }}</a>
                    </td>
                    <td class="desc">
                        <a href="/imdb/director/{{ movie.director.id }}/">{{ movie.director.name }}</a>
                    </td>
                    <td>{{ movie.release_date }}</td>
                    <td>
                        <span class="status--high">{{ movie.avg_rating }}</span>
                    </td>
                    <td>{{ movie.collections }}₹</td>
                    <td>
                        <div class="table-data-feature">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="delete" value='{{ movie.movie_id }}'>
                                <button type="submit"
                                        class="item"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>
                {% endfor %}
                </tbody>
                {% else %}
                <tbody>
                <tr class="tr-shadow">No movies available</tr>
                </tbody>
                {% endif %}
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

{% endblock %}